<% if (selectedCard) { %>
<div>
    <h2 class="text-xl font-bold mt-4"><%= selectedCard.name %></h2>
    <p class="text-lg mt-2"><%= selectedCard.description %></p>
</div>
<% } else { %>
<div></div>
<% } %>
